@font-face {
  font-family: '42dot Sans';
  src: url('/fonts/42dotSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
