@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('/fonts/SDSamliphopangcheTTFOutline.ttf') format('truetype');  
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'SDSamliphopangche_Outline';
}
